/* header */
#games-nav {
  list-style: none;
  font-family: "JetBrains Mono";
}

#index-game {
  margin-bottom: 60px;
}

a:has(.game-tab) {
  color: var(--color-w);
  text-decoration: none;
}
a:has(.game-tab):hover {
  color: var(--color-w);
  text-decoration: none;
}
a:has(.game-tab) h2 {
  text-shadow: none;
  padding-left: 4px;
}
a:has(.game-tab):hover h2 {
  text-shadow: none;
}

video {
  margin-bottom: 10px;
}

.game-tab {
  border-radius: 10px;
  box-shadow: none;
  transition: box-shadow 0.2s ease-out, border 0.2s ease-out;
  padding: 0px !important;
  padding-bottom: 4px !important;
  position: relative;
  border: 2px solid var(--color-g);
}
.game-tab h2 {
  margin-left: 4px;
}
.unfinished {
  opacity: 40%;
  cursor: default;
}
.unfinished-tooltip {
  --bs-tooltip-bg: var(--color-b);
  --bs-tooltip-color: var(--color-w);
  --bs-tooltip-border-radius: 4px;
  --bs-tooltip-arrow-height: 10px;
  font-family: "JetBrains Mono";
}
.game-tab:hover {
  box-shadow: 0px 0px 8px var(--color-w);
}
.on-itch:hover {
  box-shadow: 0px 0px 8px #fa5c5c;
}
.playable:hover {
  /* box-shadow: 0px 0px 8px var(--color-y); */
}
.on-steam:hover {
  /* box-shadow: 0px 0px 8px #66c0f4; */
  box-shadow: 0px 0px 8px var(--color-y);
}

.game-tab img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
  margin-top: 0px !important;
  /* margin-bottom: 0; */
  padding: 0px !important;
}

#games-main {
  padding-top: 10px;
}
#games-main a {
  display: none;
}

.pyramids-html {
  cursor: url("/images/games/pyramids/cursor.png"), auto;
}

/* game sepcific h1 */
.game-h1 {
  color: var(--color-w);
  cursor: default;
}
#ritual-h1:hover {
  text-shadow: 5px 2px 10px #48bf84;
}
#live-cube-h1:hover {
  text-shadow: 5px 2px 10px #a845ff;
}
#pyramids-h1:hover {
  text-shadow: 5px 2px 10px #f9fb87;
}
#titanpoint-h1:hover {
  text-shadow: 5px 2px 10px #f9fb87;
}
#anamnesis-h1:hover {
  text-shadow: 5px 2px 10px #ffffff;
}
#starlight-h1:hover {
  text-shadow: 5px 2px 10px #ff27ed;
}
#project-e-h1:hover {
  text-shadow: 5px 2px 10px #f9fb87;
}

.page-links {
  color: var(--color-y);
  text-decoration: underline;
}

/* page buttons */
.game-page-buttons {
  font-family: "K2D Light Regular";
}

/* game info */
#game-info-card {
  width: 300px;
  height: fit-content;
  padding: none;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: 30px;
  margin-top: 20px;
  border-left: 1px solid var(--color-w);
}
#game-info-card h1 {
  font-size: clamp(32px, 48px, 2vmax);
}
#game-info-card h2 {
  color: var(--color-r);
  font-size: clamp(20px, 24px, 1vmax);
}
#game-info-card h4 {
  font-size: clamp(16px, 18px, 1vmax);
}
#game-info-card h5 {
  font-size: clamp(16px, 18px, 1vmax);
}
#game-info-card h5 ul {
  list-style: none;
  padding-left: 45px;
}
#game-content {
  width: 95%;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
#game-buttons {
  width: 100%;
}
.game-details {
  margin-top: 15px;
}
.game-play-link {
  text-decoration: none;
}
.game-play-link svg {
  transition: fill 0.2s;
}
.game-play-link:hover svg {
  fill: var(--color-r);
}
