a {
  color: var(--color-w);
  text-decoration: none;
}
a:hover {
  color: var(--color-w);
  text-decoration: none;
}
a h2 {
  text-shadow: none;
  padding-left: 4px;
}
a:hover h2 {
  text-shadow: none;
}

video {
  margin-bottom: 10px;
}

.game-tab {
  border-radius: 6px;
  box-shadow: none;
  transition: box-shadow 0.3s ease-out, border 0.3s ease-out;
  padding: 0px !important;
  padding-bottom: 4px !important;
}
.unfinished {
  opacity: 40%;
  cursor: default;
}
.unfinished-tooltip {
  --bs-tooltip-bg: var(--color-b);
  --bs-tooltip-color: var(--color-w);
  --bs-tooltip-border-radius: 4px;
  --bs-tooltip-arrow-height: 10px;
  font-family: "JetBrains Mono";
}
.game-tab:hover {
  box-shadow: 0px 0px 8px var(--color-w);
  transition: box-shadow 0.1s ease-out;
}
.on-itch:hover {
  box-shadow: 0px 0px 8px #fa5c5c;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out;
}
.playable:hover {
  box-shadow: 0px 0px 8px var(--color-y);
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out;
}
.on-steam:hover {
  box-shadow: 0px 0px 8px #66c0f4;
  transition: box-shadow 0.1s ease-out, border 0.1s ease-out;
}

.game-tab img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-top: 0px !important;
  padding: 0px !important;
}

#games-main {
  padding-top: 10px;
}

.pyramids-html {
  cursor: url("/images/games/pyramids/cursor.png"), auto;
}

/* game sepcific h1 */
.game-h1 {
  color: var(--color-w);
  cursor: default;
}
#ritual-h1:hover {
  text-shadow: 5px 2px 10px #48bf84;
}
#live-cube-h1:hover {
  text-shadow: 5px 2px 10px #a845ff;
}
#pyramids-h1:hover {
  text-shadow: 5px 2px 10px #f9fb87;
}
#titanpoint-h1:hover {
  text-shadow: 5px 2px 10px #f9fb87;
}
#anamnesis-h1:hover {
  text-shadow: 5px 2px 10px #ffffff;
}
#starlight-h1:hover {
  text-shadow: 5px 2px 10px #ff27ed;
}
#project-e-h1:hover {
  text-shadow: 5px 2px 10px #f9fb87;
}

.back-button {
  padding: 0px;
}
.back-button svg {
  transform: translate(0, -10%);
}
.back-button a {
  color: var(--color-y);
}

.back-button path {
  transition: fill 0.1s ease-out;
}

.back-button:hover path {
  fill: var(--color-y);
  transition: fill 0.3s ease-out;
}

.game-details {
  margin-top: 30px;
}
.page-links {
  color: #f2c94d;
  text-decoration: underline;
}
