@font-face {
  font-family: "K2D Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("K2D Light Regular"), url("../fonts/K2D-Light.woff") format("woff");
}

html {overflow-y: scroll;}

body {
  background-color: #0e0e10;
  color: #f8f2e2;
}

header {
  background-color: #0e0e10;
  height: 80px;
  border-bottom: 1px solid #f8f2e2;
}

footer {
  background-color: transparent;
}

.before-main {
  margin-top: 80px;
}

h1 {
  font-family: "K2D Light Regular";
  font-size: 50px;
  color: #f2c94d;
  text-shadow: none;
  transition: text-shadow 0.5s ease-out;
}
h1:hover {
  text-shadow: 5px 2px 10px #f23e3e;
}

h2 {
  font-family: "K2D Light Regular";
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #f8f2e2;
  border-radius: 5px;
  border-right: 3px solid #0e0e10;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f2c94d;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
/* END scroll bar */

.container-fluid,
.container {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

/* header navbar */
.navbar-toggler,
.navbar-toggler:focus {
  padding: 5;
  padding-left: 0;
  border: 0;
  transition: none;
  box-shadow: none;
}
.navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("../../images/icons/i_hambergur.svg");
}
.navbar.bg-dark {
  background-color: #0d0d0f00 !important;
}
.navbar {
  --bs-navbar-toggler-icon-bg: url("../../images/icons/i_hambergur_w.svg");
}
/* socials */
#tw {content: url("../../images/icons/twitter.svg");}
#ins {content: url("../../images/icons/instagram.svg");}
#lin {content: url("../../images/icons/linkedin.svg");}
#itch {content: url("../../images/icons/itch_w.svg");}
#tw:hover {content: url("../../images/icons/tw_y.svg");}
#ins:hover {content: url("../../images/icons/ins_y.svg");}
#lin:hover {content: url("../../images/icons/lin_y.svg");}
#itch:hover {content: url("../../images/icons/itch_y.svg");}

button {
  background-color: transparent;
}
/* END header navbar */

/* offcanvas */
.offcanvas {
  background-color: #0f0f11;
  margin-top: 80px;
  --bs-offcanvas-width: 350px;
}
.offcanvas-body {
  padding: 0;
}
.navbar-nav {
  padding-top: 25px;
  padding-left: 50px;
}
.nav-link {
  font-family: "K2D Light Regular";
  font-weight: normal;
  font-size: 40px;
  color: #f8f2e2;
  transition: color 0s;
}
.nav-link:hover,
.nav-link:focus {
  transition: color 0s;
  color: #f2c94d;
}
.current-page {
  color: #f23e3e;
}
/* END offcanvas */

.list-group.list-group-horizontal li {
  margin: 8px;
  list-style: none;
}

/* ad */
#ad {
  background-color: #0a335c;
  border: double mediumspringgreen 5px;
  overflow-y: scroll;
  font-family: georgia;
  padding: 15px;
  max-height: 45vh;
  min-height: fit-content;
  margin: 20px;
  margin-top: 50px;
}
#ad a#outfoxlink {
  color: #d12a54;
  font-size: larger;
  border: dotted 2px rgb(0, 255, 0);
  border-radius: 5px;
  padding: 5px;
  position: relative;
  top: -20px;
}
#ad a#outfoxlink:hover {
  background-color: #333745;
  border-color: #333745;
  color: #fbaf40;
  text-shadow: 2px 1px 2px #f23e3e;
}
#outfoxtext {
  color: #e9f1f7;
  width: 90%;
  transition: text-shadow 0.5s ease-out;
  text-shadow: none;
}
#outfoxtext:hover {
  transition: text-shadow 3.5s ease-out;
  text-shadow: 6px 3px aqua;
}
#outfoxtext:hover > #outfoxtext-highlight {
  transition: color 1s ease-out;
  color: #f23e3e;
}
/* END ad */

.back-button:hover {
  content: url("../images/icons/chevron-left-y.svg");
}
.back-button {
  height: 50px;
}