html {
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: url("/images/stuff/sm_cursor.png"), default !important;
}
body {
  cursor: url("/images/stuff/sm_cursor.png"), default !important;
}
::-moz-selection {
  background-color: transparent;
}
::selection {
  background-color: transparent;
}
input::-moz-selection, textarea::-moz-selection {
  background-color: #f2c94d5b;
}
input::selection, textarea::selection {
  background-color: #f2c94d5b;
}
.front {
  z-index: 100 !important;
}
button {
  cursor: url("/images/stuff/sm_cursor.png"), default !important;
  border: none;
}
#sm-desktop p {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}
.white-p{
  color: #f8f2e2;
}
.stealth-p{
  color: #0e0e10;
}
.content-text-title {
  font-size: larger;
  font-weight: 600;
}


#header-pullout {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 0px 0px 8px 8px;
  display: none;
  cursor: pointer !important;
}
#header-pullout:hover path {
  fill: #f2c94d;
}


#task-bar {
  background-color: #242429;
  position: absolute;
  top: calc(100% - 40px);
  height: 40px;
  width: 100%;
  z-index: 999;
}
#task-bar div {
  height: 100%;
}
#task-bar-time {
  position: absolute;
  left: calc(100vw - 95px);
}
#tb-time {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#start-menu-button {
  padding: 0px;
  padding-left: 13px;
  padding-right: 13px;
  height: 100%;
}
#start-menu-button:hover img {
  background-color: #f2c94d7f;
  border: 0px;
  border-radius: 3px;
  transition: background-color 0.5s ease-out;
}


#start-menu {
  position: absolute;
  top: 100vh;
  left: 20px;
  border: 0px;
  border-radius: 6px;
  background-color: #21201f;
  width: 260px;
  height: 278px;
  z-index: 998;
}
#start-menu .row {
  margin: 0;
  height: 100%;
}
#start-menu-banner {
  height: 100%;
  width: 35px;
  padding: 0;
  background-color: #f23e3e;
  border-right: 0px;
  border-radius: 6px 0px 0px 6px;
}
#start-menu-column {
  margin: 0;
  width: 100%;
}
#start-menu-column img {
  padding-left: 15px;
  margin: 0;
  height: 75px;
}
#sm-logo {
  box-shadow: none !important;
}
#start-menu-column p {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 15px;
}
#start-menu-column div {
  height: max-content;
  margin: 0;
  padding: 0;
  transition: box-shadow 0.25s ease-out;
}
#start-menu-column div:hover {
  box-shadow: 5px 5px 45px #f2c94d inset;
}
.start-menu-divider {
  border-top: 1px solid #f8f2e2;
}


#stuff-machine-loader {
  position: absolute;
  color: #f8f2e2;
  top: 120px;
  left: 65px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
#stuff-machine-loader p {
  font-size: 25px;
  line-height: 85%;
}
#stuff-machine-loader ul {
  list-style-type: square;
}
#mobile-message p {
  position: absolute;
  font-size: 18px;
  line-height: 105%;
  font-weight: lighter;
  left: 50%;
  transform: translate(-50%, 0);
}
#acsii-art {
  text-shadow: 0px 0px 10px #f2c94d;
  transition: text-shadow 0.5s ease-out;
}


#sm-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#stuff-space {
  background-color: #131318;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px); /* minus task bar */
}
#sm-restart {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sm-restart img {
  width: 70px;
  cursor: pointer;
}


.window {
  display: none;
  position: absolute;
  width: max-content;
}
.window-controls {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #242429;
  border: 1px solid #f8f2e2;
  border-radius: 6px 6px 0px 0px;
  height: 30px; /* keep consitent */
  transition: box-shadow 0.25s ease-out;
}
.window-header-text {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  text-shadow: none !important;
}
.window-toggle-button,
.window-close-button {
  border: none;
  text-align: center;
  height: 100%;
  width: 30px; /* keep consitent */
  margin: 0;
  padding: 6px;
}
.window-close-button {
  border-radius: 0px 6px 0px 0px;
}
.window-toggle-button:hover,
.window-close-button:hover {
  background-color: #0e0e10d2;
}
.window-toggle-button:hover path,
.window-close-button:hover path {
  fill: #f2c94d;
}


.window-content, .window-content-fixed {
  position: relative;
  width: 100%;
  top: -1px;
  left: 0px;
  background-color: #0e0e10;
  border: 1px solid #f8f2e2;
  border-radius: 0px 0px 6px 6px;
  margin: 0px;
  color: #0e0e10;
  text-align: center;
}
.overflow-auto {
  width: 100%;
  height: 100%;
}
.window-content-text {
  text-align: start;
  padding: 15px;
}
.window-content-folder {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}


#bug-form {
  font-family: 'Courier New', Courier, monospace;
  color: #f8f2e2;
}
#bug-form > textarea, input[type=text] {
  background-color: #242429;
  border: 0px;
  border-radius: 4px;
  transition: box-shadow .25s ease-out;
  color: #f8f2e2;
  padding: 8px;
  padding-left: 15px;
  margin-top: 5px;
}
#bug-form > textarea:focus, input[type=text]:focus {
  box-shadow: 0px 0px 8px #f2c94d;
  border: none;
  outline: none;
}
#bug-form > textarea {
  resize: none;
}
#bug-description {
  width: 100%;
  height: 170px;
}
#bug-submit-btn {
  background-color: #f2c94d;
  border-radius: 4px;
}
#bug-submit-btn:hover {
  background-color: #f23e3e;
}


.apps {
  position: absolute;
  left: 50px;
  border: none;
  color: #f8f2e2;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
}
.apps:hover img,
.apps:focus img,
.folder-item button:hover img,
.folder-item button:focus img {
  background-color: #f2c94d7f;
  border: 1px dotted #f8f2e2;
  transition: background-color 0.35s ease-out;
}
.apps img {
  padding: 0;
  margin: 0;
  width: 100%;
}
.apps p {
  line-height: 1rem;
  padding-top: 5px;
}
.apps div {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}


.folder-grid {
  margin: 0;
  padding: 0;
}
.folder-item {
  padding: 10px;
  padding-bottom: 0;
  margin: 0;
  width: 100px; /* img width is 90 - padding */
  height: 100px;
  padding-right: 20px;
  padding-left: 20px;
  height: max-content;
}
.folder-item img {
  padding: 0;
  margin-top: 13px;
  width: 100%;  /* img width is folder-item - padding */
}
.folder-item button {
  padding: 0;
  width: 100%;
}
.folder-item div {
  color: #f8f2e2;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  line-height: 1;
}
/* folder levels */
.folder-path {
  color: #f8f2e2;
  background-color: #0e0e10;
  position: absolute;
  left: 0;
  top: 0px;
  padding-top: 5px;
  padding-left: 15px;
  z-index: 99;
  line-height: 1em; /* a */
  max-height: 2.5em; /* a x number of line to show (ex : 2 line)  */
  text-align: start;
}
.folder-back-button:hover,
.folder-back-button-lvl2:hover {
  color: #f2c94d;
  fill: #f2c94d;
}
.folder-lvl-2, .folder-lvl-3 {
  display: none;
}


#app1-venera {
  top: 60px;
}
#venera-window .window-content {
  padding: 15px;
}
#app2-photo {
  top: 160px;
}
#photo-window .window-content {
  padding: 5px;
}
#app3-audio {
  top: 260px;
}
#audio-folder .window-content,
#visual-folder .window-content {
  padding: 0;
}
#app4-visual {
  top: 360px;
}
#app5-titanpoint {
  left: 200px;
  top: 110px;
}
#titanpoint-window .window-content-fixed {
  padding: 0;
  margin: 0;
  width: 860px;
  height: 646px; /* 960 + 2 for border */
}
