:root {
  /* color vars */
  --color-b: #492b36;
  --color-w: #eee1ca;
  --color-r: #f28f4d;
  --color-y: #f24d6b;
  --color-navbar-bg: #171214; /* 0f0f11 */
  /* color vars */
  --shadow-bronze-glow: 5px 5px 45px var(--color-y-sm) inset;
  --color-b-smronze-transparent: #f24d815b;
  --color-task-bar-black: #492b36;
  --border-window: 1px solid #575550;
  --color-b-sm: #1d1618;
  --color-w-sm: #f8f2e2;
  --color-r-sm: #f23e3e;
  --color-y-sm: #f24d6b;
  --color-desktop-sm: #201519;
  --color-desktop-sm-transparent: #20151900;
}
