:root {
  /* color vars */
  --color-b: #0e0e10;
  --color-w: #296208;
  --color-r: #3ab038;
  --color-y: #7bf623;
  --color-navbar-bg: #0f0f11; /* 0f0f11 */
  /* color vars */
  --shadow-bronze-glow: 5px 5px 45px var(--color-y-sm) inset;
  --color-b-smronze-transparent: #f2c94d5b;
  --color-task-bar-black: #242429;
  --border-window: 1px solid #575550;
  --color-b-sm: #0e0e10;
  --color-w-sm: #f8f2e2;
  --color-r-sm: #f23e3e;
  --color-y-sm: #f2c94d;
}

#index-body {
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--color-b) 25%,
    var(--color-w),
    var(--color-b) 35%
  );
  background-size: 200%;
  animation: pan 10s linear infinite;
}

#frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  position: relative;
}

.tile:before {
  background-color: var(--color-b);
  content: "";
  position: absolute;
  inset: 0.52px;
}

@keyframes pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
